<ion-header>
  <ion-toolbar>
    <ion-title>
      Notificaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="isNotificacion">
    No tiene nuevas notificaciones
  </ion-item>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>
    <ion-list>  
    <ion-item-sliding *ngFor="let notificacion of notificaciones">
        <ion-item (click)="verNotificacion(notificacion)">        
          <ion-label> 
        <h3>{{notificacion.title}}</h3>
      <p color="light">{{notificacion.body}}</p> 
    </ion-label>   
        </ion-item> 
        <ion-item-options side="end">
      <ion-item-option color="danger" (click)="eliminarNotificacion(notificacion)">
      <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>  
        </ion-item-sliding>
      </ion-list>
</ion-content>
